/** {
	border: 1px hotpink solid;
}
*/
.main-menu {
	top: 0;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-top: 25px;
	padding-bottom: 25px;
}

.notAuth {
	overflow: hidden;
	background-color: transparent;
	position: fixed;
	z-index: 1000;
}

.auth {
	background-color: white;
}

.main-menu a {
	text-decoration: none;
	color:black;
	font-family: 'Poppins', sans-serif;
}

.title {
	margin: 0 auto;
	align-self: center;
	text-align: center;
}

.m1 {
	padding-left: 50px;
	padding-top: 11px;
}

.m2 {
	padding-right: 40px;
	text-align: right;
	padding-top: 11px;
}

.navSignup {
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #e06253;
	border-radius: 30px;
	text-decoration: none;
	text-transform: uppercase;
}

.navSignup span {
	color: white;
}

.title a {
	font-size: 28px;
	font-weight: bolder;
}

.m1 a, .m2 a {
	text-transform: uppercase;
	margin-left: 25px;
	margin-right: 25px;
	font-size: 15px;
	letter-spacing: 1.5px;
}

.accName {
	background-image: url(../images/user.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;

	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navSignup span:visited {
	color: white;
}

.navSignup span:hover {
	color: white;
}

.title:hover {
	color: #e06253;
}

.notAuth:hover {
	background-color: white;
}

.navLink:hover {
	color: #e06253;
}

.auth a:hover{
	color: #e06253;
}

/*.main-menu a:hover {
	text-decoration: none;
}*/

.main-menu a:visited {
	text-decoration: none;
	color: currentColor;
}

