/* General Setup*/
/** {
	border: 1px solid hotpink;
}*/
html, body, .container{
	margin: 0;
	height: 100%;
}

li {
	list-style: none;
}

ul {
	padding-left: 0;
}

.sectionContainer {
	margin: 0 auto;
	width: 100%;
	align-self: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.fullContainer {
	min-height: 100%;
}

.content {
	height: auto;
	max-width: 80%;
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
}

.fullContent {
	height: auto;
	width: 100%;
	font-family: 'Poppins', sans-serif;
}

.contentNonFlex {
	height: auto;
	max-width: 80%;
	font-family: 'Poppins', sans-serif;
}

.containAlignCenter {
	margin: 0 auto;
	align-self: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*--------------------------------
		First Section
/*--------------------------------*/
#first {
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.innerContent {
	width: 65%;
	height: 55%;
}

.innerContent h1{
	font-size: 56px;
	margin-bottom: 15px;
}

.innerContent h2 {
	font-size: 22px;
	font-weight: lighter;
	margin-bottom: 50px;
}

.innerContent a {
	letter-spacing: 1.5px;
}

.innerContent p {
	margin-top: 45px;
	color: white;
	text-decoration: underline;
	font-size: 20px;
}
/*
----------------End---------------
*/



/*--------------------------------
		Second Section
/*--------------------------------*/
/* Section wise*/
#second {
	background-color: #faf8f6;
	position: relative;
	padding-bottom: 150px;
}

/* About Part */
.aboutText {
	width: 70%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 50px;
}

.aboutText h2 {
	font-size: 28px;
}

/* User Part */
#user2, #user3 {
	display: none;
}

.content22 {
	position: relative;
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	padding-top: 150px;
}

/* User Text */
.userText {
	background-color: white;
	padding-right: 60px;
	padding-left: 80px;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 450px;
	height: 350px;
	position: absolute;
	top: 85px;
	left: 550px;
}

.userText h3 {
	text-transform: uppercase;
	font-size: 28px;
	letter-spacing: 2px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.userTitle {
	color: #e06253;
}

.userText p {
	margin-top: 0px;
	color: #97917f;
	font-size: 15px;
	margin-bottom: 40px;
}

.user li {
	background-image: url(../images/listpin.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
	padding-left: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/* Button */
.buttonSecond {
	text-align: center;
	display: inline-flex;
	align-self: flex-end;
	padding-bottom: 30px;
	width: 100%;
}

#button21, #button22, #button23 {
	width: 110px;
	background-color: lightgrey;
	border-radius: 0;
	height: 5px;
	outline: none;
	border-style: none;
	margin-right: 20px;
	margin-left: 20px;
	cursor: pointer;
}

#button21 {
	background-color: #e06253;
}

/* Image */
.userImage1 {
	position: absolute;
	width: 250px;
	top: 25px;
	left: 200px;
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.userImage2 {
	position: absolute;
	left: -30px;
	top: 135px;
	width: 250px;
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}

.userImage3 {
	width: 600px;
}
/*
----------------End---------------
*/


/*--------------------------------
		Third Section
/*--------------------------------*/
.goal {
	margin-left: 50px;
	margin-right: 50px;
}

.goalContent {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	height: 50%;
}

.goalContent figure {
	margin: 0 auto;
	align-self: center;
}

.goalContent img{
	width: 40%;
}

.goal1 {
	background-image: url(../images/pinkshape.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.goal2 {
	background-image: url(../images/yellowshape.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.goal3 {
	background-image: url(../images/blueshape.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

/*
----------------End---------------
*/


/*--------------------------------
		Forth Section
/*--------------------------------*/
#forth {
	/*background-color: #c0b0b8;*/
	background-color: #d3c9ce;
}

.accContent {
	max-width: 65%;
}

/* Heading */
.accContent h2 {
	text-align: center;
	font-size: 32px;
	margin-top: 150px;
	margin-bottom: 100px;
	font-weight: bolder;
	position: relative;
}

.accAll {
	color: #e06253;
	border-bottom: 8px double #e06253;
}
/* Sim Web */
#accManage, #accCustomize {
	display: none;
}

.simWebpage {
	width: 100%;
	/*height: 53.9%;*/
	background-image: url(../images/web.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
	padding-top: 150px; 
}

/* button */
.accButton {
	padding-left: 50px;
	margin-bottom: 0px;
}

.accButton button{
	outline: none;
	border-style: none;
	font-size: 16px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	font-weight: bold;
}

#button41 {
	background-color: #ebdfe0;
}

#button42 {
	background-color: white;
}

#button43 {
	background-color: white;
}
/* Text */
.accText {
	margin-top: 0px;
	margin-left: 60px;
	margin-right: 60px;
	border: 2px solid black;
	padding-top: 20px;
}

#accView, #accManage, #accCustomize {
	margin-left: 40px;
	margin-right: 20px;
}

.accText h3 {
	margin-bottom: 0;
	padding-bottom: 0;
	color: #e06253;
}

/*
----------------End---------------
*/


/*--------------------------------
		Fifth Section
/*--------------------------------*/
#fifth {
	background-color: #fbe7b7;
}

.todoContent {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-right: 100px;
	margin-left: 100px;
}

#fifth img{
	width: 450px;
}

.todoContent h2 {
	font-size: 32px;
}

/*
----------------End---------------
*/


/*--------------------------------
		Sixth Section
/*--------------------------------*/
#sixth {
	background-color: #e4eaf2;
}

/* Calendar Text */
.calendarText {
	text-align: center;
	margin-bottom: 100px;
}

.calendarText h2 {
	font-size: 32px;
}

/* calendar */
.jzdbox1 {
  	width:960px; 
  	border-radius:20px; 
  	overflow:hidden; 
  	display:block;  
/*  box-shadow:0 0 10px #201d1c; */
/*  margin:0 auto;
  align-self: center;*/
  	padding: 0;
  	margin: 0 auto;
  	margin-top: 100px;
  	margin-bottom:50px;
}

.jzdcal {
  	padding: 40px;
  	box-sizing:border-box!important; 
  	background-image: url(../images/calback.png);
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
}

.jzdcalt {
	margin: 0 auto;
	align-self: center;
  	font:24px 'Poppins'; 
  	font-weight:bold; 
  	color:#f7f3eb; 
  	display:block; 
  	margin:30px 0 0 0; 
  	text-transform:uppercase; 
  	text-align:center; 
  	letter-spacing:1px;
  	display: flex;
  	padding: 0;
  /*background-color: #d67b4c;
  width: 50%;*/
}

.jzdcalt h3 {
	width: auto;
	padding: 5px 80px 5px 80px;
	margin-top: 0;
	margin-right: 0;
	background-color: #d67b4c;
}

.jzdcal span {
  	font:18px 'Poppins'; 
  	font-weight:400;  
  	text-align:center; 
  	width:80px; 
  	height:80px; 
  	display:inline-block; 
  	float:left; 
  	overflow:hidden; 
  	line-height:80px;
  	margin-right: 20px; 
  	margin-left: 20px;
  	margin-top: 5px;
  	margin-bottom: 5px;
	box-sizing:border-box!important; 
  	border-radius:200px!important;
}

.jzdcal .jzdb:before {
  opacity:0.3; 
  content:'o';
  color: #dfdcd0;
}

.nonCircle {
	background-color: #dfdcd0;
  	color: #dd936c;
}

.circle {
  	color: #dfdcd0;
	background-color: #d67b4c;
}

/*
----------------End---------------
*/


/*--------------------------------
		Seventh Section
/*--------------------------------*/
.notiTitle img {
	width: 700px;
}

.notiTitle h2{
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 15px;
	font-weight: bolder;
}
.notiText {
	flex-wrap: wrap;
	margin-bottom: 50px;
	margin-top: 50px;
}
.notiText h3 {

}
.noti {
	width: 55%;
}

.noti img {
	width: 100px;
}

/*
----------------End---------------
*/


/*--------------------------------
		Eighth Section
/*--------------------------------*/
#eighth {
	background-image: url(../images/eighthBack.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.eighthContent {
	margin-top: 250px;
	margin-bottom: 250px;
	display: block;
	text-align: center;
}

.eighthContent h2{
	font-size: 42px;
	margin-bottom: 50px;
}
/*
----------------End---------------
*/


/*--------------------------------
		Footer Section
/*--------------------------------*/
footer {
	background-color: #30394b;
}
.footerContent {
	color: #faf8f6;
	margin-top: 50px;
	margin-bottom: 80px;
	width: 100%;
	justify-content: space-between;
}
.webName h3 {
	font-size: 42px;
	margin-bottom: 0px;
	padding-bottom: 0;
}
.webName p {
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
.developer h3 {
	text-transform: uppercase;
	font-size: 20px;
}
/*
----------------End---------------
*/


/* Miscllaneous*/
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

span[data-title]:hover:after, 
div[data-title]:hover:after {
  font:18px 'Poppins'; 
  font-weight: 400; 
  content:attr(data-title); 
  position:absolute; 
  margin:0 0 100px; 
  background: #dd936c; 
  border-radius: 10px;
  box-shadow: 0 0 20px #dd936c;
  color:#f7f3eb; 
  padding:5px; 
  z-index:999; 
  min-width:200px; 
  max-width:200px;
}

@media (max-width: 1500px) {
	.simWebpage{
		zoom:90%;
	}
}

@media (max-width: 1350px) {
	html {
		zoom: 90%;
	}
}

@media (max-width: 1250px) {
	html {
		zoom: 85%;
	}
}

@media (max-width: 1100px) {
	html {
		zoom: 75%;
	}
}