{% extends "base.html" %}

{% block content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
				{{ msg }}
			{% endfor %}
		{% endif %}
	{% endwith %}

	<h2>{{current_user.name}}</h2>
	<p>{{current_user.email}}</p>
	<p>{{current_user.id}}</p><!--test code-->

	<form method="POST" action="/account">
	<label for="email">Email:</label><input type="email" name="email" id="email" value="{{current_user.email}}" required>
	<label for="name">Name:</label><input type="text" name="name" id="name" value="{{current_user.name}}" required>
	<!--<label for="password">Password:</label><input type="password" name="password" id="password" required placeholder="Enter Your Password">-->
	<input type="submit" value="Update" class="submit" id="submit">
</form>
{% endblock %}