{% extends "dashboardBase.html" %}

{% block dashboard %}
<div class="dashContent settings">

	<h2>Change Login Info</h2>
	<form method="POST" action="/account">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for msg in messages %}
					<p class="errorMessage">{{ msg }}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
		<label for="email">Email</label><br><input type="email" name="email" id="email" value="{{current_user.email}}" class="dashInput" required><br>
		<label for="name">Name</label><br><input type="text" name="name" id="name" value="{{current_user.name}}" class="dashInput" required><br>
		<!--<label for="password">Password:</label><input type="password" name="password" id="password" required placeholder="Enter Your Password">-->
		<input type="submit" value="Save" class="submit dashSave" id="submit">
	</form>

	<h2>Reset Password</h2>
	<form method="POST" action="/account/reset_password">
		<!-- <h2>Login as an existing user</h2> -->
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for msg in messages %}
					<p class="errorMessage">{{ msg }}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
		<label for="password">Password</label><br><input type="password" name="password" id="password" class="dashInput" required><br>
		<label for="verify">Verify Password</label><br><input type="password" name="verify" id="verify" class="dashInput" required><br>

		<input type="submit" value="Save" class="submit dashSave" id="submit">
	</form>

</div>
{% endblock %}