<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Job Tracer</title>
</head>

<body>
	<header class="banner">
		<nav class="menu">
			<ul>
				<!-- First Part -->
				<!-- Index page navigation -->
				<li><a href="/#second">About</a></li>
				<li><a href="/#third">Goals</a></li>
				<li><a href="/#forth">Features</a></li>
				<!-- Second Part -->
				<!-- Website Logo & Link to Main -->
				<li><a href="{{url_for('main.index')}}">OfferTracer</a></li>
				<!-- Third Part -->
				<!-- If not logged in -->
				{% if not current_user.is_authenticated %}
				<li><a href="{{url_for('auth.login')}}">Login</a></li>
				<li><a href="{{url_for('auth.signup')}}">Sign Up</a></li>
				{% endif %}
				<!-- If Logged in -->
				{% if current_user.is_authenticated %}
				<li><a href="{{url_for('auth.logout')}}">Logout</a></li>
				<li><a href="{{url_for('main.dashboard')}}">Dashboard</a></li>
				<li><a href="{{url_for('main.account')}}">Account</a></li>
				{% endif %}
			</ul>
		</nav>
	</header>

	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>