{% extends "base.html" %}

{% block content %}
<!-- First Page -->
<section id="first">
	<div class="fullContainer">
		<h1></h1>
		<h2></h2>
		<a href="">Sign up now</a>
		<p>Or, learn more about our website</p>
	</div>
</section>

<!-- About & Target User -->
<section id="second">
	<div class="fullContainer">
		<div class="aboutText">
			<h2></h2>
			<p></p>
		</div>

		<div class="user">
			<div class="userOne">
				<section class="userText">
					<h3>College Student</h3>
					<p></p>
				</section>
				<img src="">
				<img src="">
				<img src="">
			</div>
			<div class="userTwo">
				<section class="userText">
					<h3>Young Professional</h3>
					<p></p>
				</section>
				<img src="">
				<img src="">
				<img src="">
			</div>
			<div class="userThree">
				<section class="userText">
					<h3>Experience Professional</h3>
					<p></p>
				</section>
				<img src="">
				<img src="">
				<img src="">
			</div>
		</div>
	</div>
</section>

<!-- Goal -->
<section id="third">
	<div class="fullContainer">
		<div class="goal1">
			<h3></h3>
			<p></p>
			<p></p>
			<p></p>
			<p></p>
		</div>
		<div class="goal2">
			<h3></h3>
			<p></p>
			<p></p>
			<p></p>
			<p></p>
		</div>
		<div class="goal3">
			<h3></h3>
			<p></p>
			<p></p>
			<p></p>
			<p></p>
		</div>
	</div>
</section>

<!-- Functions -->
<section id="forth">
	<div class="inContainer">
		<h2>Account Management</h2>
		<p></p>
	</div>
</section>

<section id="fifth">
	<div class="inContainer">
		<h2>Todo List</h2>
		<p></p>
	</div>
</section>

<section id="sixth">
	<div class="inContainer">
		<h2>Application Management</h2>
		<p></p>
	</div>
</section>

<section id="seventh">
	<div class="inContainer">
		<h2>Calendar View</h2>
		<p></p>
	</div>
</section>

<section id="eighth">
	<div class="inContainer">
		<h2>Notification</h2>
		<p></p>
	</div>
</section>

<!-- Get Started -->
<section id="ninth">
	<div class="inContainer">
		<h2>Ready to get started?</h2>
		<a href="">Sign up Now</a>
		<
	</div>
</section>
{% endblock %}