{% extends "base.html" %}

{% block content %}

<!-- First Page -->
<section id="first" class="sectionContainer fullContainer">
	<div class="content">
		<div class="innerContent">
			<h1>Keep Track of Your Job & Internship Applications.</h1>
			<h2>We are here to help you with the tedious process of tracking down deadlines, requirements and progress for different job applications. </h2>
			<a href="{{url_for('auth.signup')}}" class="navSignup"><span>Sign up now</span></a><br>
			<p>Or, Learn more about our website</p>
		</div>
	</div>
</section>

<!-- About & Target User -->
<section id="second" class="sectionContainer fullContainer">
	<div class="content containAlignCenter">
		<div class="aboutText">
			<h2>The final destination of your job hunting journey</h2>
			<p>With OfferTracer, you are able to design a chart tailored to your needs including applying portal, end date, job description and so much more. A dashboard will provide access to all features, and display an overview of important data, such as next deadline, total todo items and so on.</p>
		</div>
	</div>
	<div class="content content22">
		<div class="user containAlignCenter">
			<div class="userOne" id="user1">
				<img src="{{ url_for('static', filename='images/student1.png') }}" class="userImage1">
				<img src="{{ url_for('static', filename='images/student2.png') }}" class="userImage2">
				<img src="{{ url_for('static', filename='images/student3.png') }}" class="userImage3">
				<div class="userText">
					<h3>College <span class="userTitle">Student</span></h3>
					<p>Looking for Internships or Full-time/Part-time jobs</p>
					<ul>
						<li>dsfsfsfsdfdsfddssf</li>
						<li>sdfsfsdfsdfs</li>
						<li>sdfsfsdfsfds</li>
						<li>sdfsfsdfsfds</li>
					</ul>
				</div>
			</div>
			<div class="userTwo" id="user2">
				<img src="{{ url_for('static', filename='images/student1.png') }}" class="userImage1">
				<img src="{{ url_for('static', filename='images/student2.png') }}" class="userImage2">
				<img src="{{ url_for('static', filename='images/student3.png') }}" class="userImage3">
				<div class="userText">
					<h3>Young <span class="userTitle">Graduates</span></h3>
					<p>Looking for opportunities to expand their career choices</p>
					<ul>
						<li>dsfdsfd</li>
						<li>sdfsfdsfdsdf</li>
						<li>sdfsfsdfss</li>
						<li>sdfsfsdfsfds</li>
					</ul>
				</div>
			</div>
			<div class="userThree" id="user3">
				<img src="{{ url_for('static', filename='images/student1.png') }}" class="userImage1">
				<img src="{{ url_for('static', filename='images/student2.png') }}" class="userImage2">
				<img src="{{ url_for('static', filename='images/student3.png') }}" class="userImage3">
				<div class="userText">
					<h3>Experience <span class="userTitle">Professional</span></h3>
					<p>Trying to discover the possibilities of job-hopping</p>
					<ul>
						<li>sdfsfdsfsfsf</li>
						<li>sdfsdfdsdfsdf</li>
						<li>sdfsfsdfsfd</li>
						<li>sdfsfsdfsfds</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="buttonSecond">
			<button id="button21" onclick="indexUserFunc()"></button>
			<button id="button22" onclick="indexUserFunc()"></button>
			<button id="button23" onclick="indexUserFunc()"></button>
		</div>
	</div>
</section>

<!-- Goal -->
<section id="third">
	<div class="fullContainer">
		<div class="goal1">
			<h3></h3>
			<p></p>
			<p></p>
			<p></p>
			<p></p>
		</div>
		<div class="goal2">
			<h3></h3>
			<p></p>
			<p></p>
			<p></p>
			<p></p>
		</div>
		<div class="goal3">
			<h3></h3>
			<p></p>
			<p></p>
			<p></p>
			<p></p>
		</div>
	</div>
</section>

<!-- Functions -->
<section id="forth">
	<div class="inContainer">
		<h2>Account Management</h2>
		<p></p>
	</div>
</section>

<section id="fifth">
	<div class="inContainer">
		<h2>Todo List</h2>
		<p></p>
	</div>
</section>

<section id="sixth">
	<div class="inContainer">
		<h2>Application Management</h2>
		<p></p>
	</div>
</section>

<section id="seventh">
	<div class="inContainer">
		<h2>Calendar View</h2>
		<p></p>
	</div>
</section>

<section id="eighth">
	<div class="inContainer">
		<h2>Notification</h2>
		<p></p>
	</div>
</section>

<!-- Get Started -->
<section id="ninth">
	<div class="inContainer">
		<h2>Ready to get started?</h2>
		<a href="">Sign up Now</a>
		<
	</div>
</section>
{% endblock %}