{% extends "base.html" %}

{% block content %}

<!-- First Page -->
<section id="first" class="sectionContainer fullContainer">
	<div class="content">
		<div class="innerContent">
			<h1>Keep Track of Your Job & Internship Applications.</h1>
			<h2>We are here to help you with the tedious process of tracking down deadlines, requirements and progress for different job applications. </h2>
			<a href="{{url_for('auth.signup')}}" class="navSignup"><span>Sign up now</span></a><br>
			<p>Or, Learn more about our website</p>
		</div>
	</div>
</section>

<!-- About & Target User -->
<section id="second" class="sectionContainer fullContainer">
	<div class="content containAlignCenter">
		<div class="aboutText">
			<h2>The final destination of your job hunting journey</h2>
			<p>With OfferTracer, you are able to design a chart tailored to your needs including applying portal, end date, job description and so much more. A dashboard will provide access to all features, and display an overview of important data, such as next deadline, total todo items and so on.</p>
		</div>
	</div>
	<div class="content content22">
		<div class="user containAlignCenter">
			<div class="userOne" id="user1">
				<img src="{{ url_for('static', filename='images/student1.png') }}" class="userImage1">
				<img src="{{ url_for('static', filename='images/student2.png') }}" class="userImage2">
				<img src="{{ url_for('static', filename='images/student3.png') }}" class="userImage3">
				<div class="userText">
					<h3>College <span class="userTitle">Student</span></h3>
					<p>Looking for Internships or Full-time/Part-time jobs</p>
					<ul>
						<li>dsfsfsfsdfdsfddssf</li>
						<li>sdfsfsdfsdfs</li>
						<li>sdfsfsdfsfds</li>
						<li>sdfsfsdfsfds</li>
					</ul>
				</div>
			</div>
			<div class="userTwo" id="user2">
				<img src="{{ url_for('static', filename='images/student1.png') }}" class="userImage1">
				<img src="{{ url_for('static', filename='images/student2.png') }}" class="userImage2">
				<img src="{{ url_for('static', filename='images/student3.png') }}" class="userImage3">
				<div class="userText">
					<h3>Young <span class="userTitle">Graduates</span></h3>
					<p>Looking for opportunities to expand their career choices</p>
					<ul>
						<li>dsfdsfd</li>
						<li>sdfsfdsfdsdf</li>
						<li>sdfsfsdfss</li>
						<li>sdfsfsdfsfds</li>
					</ul>
				</div>
			</div>
			<div class="userThree" id="user3">
				<img src="{{ url_for('static', filename='images/student1.png') }}" class="userImage1">
				<img src="{{ url_for('static', filename='images/student2.png') }}" class="userImage2">
				<img src="{{ url_for('static', filename='images/student3.png') }}" class="userImage3">
				<div class="userText">
					<h3>Experience <span class="userTitle">Professional</span></h3>
					<p>Trying to discover the possibilities of job-hopping</p>
					<ul>
						<li>sdfsfdsfsfsf</li>
						<li>sdfsdfdsdfsdf</li>
						<li>sdfsfsdfsfd</li>
						<li>sdfsfsdfsfds</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="buttonSecond">
			<button id="button21" onclick="indexUserFunc()"></button>
			<button id="button22" onclick="indexUserFunc()"></button>
			<button id="button23" onclick="indexUserFunc()"></button>
		</div>
	</div>
</section>

<!-- Goal -->
<section id="third" class="sectionContainer fullContainer">
	<div class="content goalContent">
			<div class="goal">
				<figure class="containAlignCenter goal1">
					<img src="{{ url_for('static', filename='images/naviga.png') }}" class="goalImg1">
				</figure>
				<h2>Convenient Navigation</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.</p>
			</div>
			<div class="goal">
				<figure class="containAlignCenter goal2">
					<img src="{{ url_for('static', filename='images/visualize.png') }}" class="goalImg2">
				</figure>
				<h2>Progress Visualization</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.</p>
			</div>
			<div class="goal">
				<figure class="containAlignCenter goal3">
					<img src="{{ url_for('static', filename='images/notetaking.png') }}" class="goalImg3">
				</figure>
				<h2>Note Taking</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.</p>
			</div>
	</div>
</section>

<!-- Functions -->
<section id="forth" class="sectionContainer fullContainer">
	<div class="contentNonFlex accContent">
		<h2>One Account to Manage All Applications</h2>
		<div class="simWebpage">
			<div class="accButton">
				<button id="button41" onclick="accFunc()">View</button>
				<button id="button42" onclick="accFunc()">Manage</button>
				<button id="button43" onclick="accFunc()">Customize</button>
			</div>
			
			<div class="accText">
				<div id="accView">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="accBulletPoint">
						<h3>Info</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="accBulletPoint">
						<h3>Deadlines</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="accBulletPoint">
						<h3>Required Documents</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				
				<div id="accManage">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="accBulletPoint">
						<h3>Add</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="accBulletPoint">
						<h3>Delete</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="accBulletPoint">
						<h3>Modify</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
			

				<div id="accCustomize">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="accBulletPoint">
						<h3>Tasks</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="accBulletPoint">
						<h3>Interviews</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="accBulletPoint">
						<h3>Documents</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>

<section id="fifth" class="sectionContainer fullContainer">
	<div class="content">
		<h2>Todo List</h2>
		<p></p>
	</div>
</section>

<section id="sixth" class="sectionContainer fullContainer">
	<div class="content">
		<h2>Calendar View</h2>
		<p></p>
	</div>
</section>

<section id="seventh" class="sectionContainer fullContainer">
	<div class="content">
		<h2>Notification</h2>
		<p></p>
	</div>
</section>

<!-- Get Started -->
<section id="eighth" class="sectionContainer">
	<div class="content">
		<h2>Ready to get started?</h2>
		<a href="">Sign up Now</a>
		<
	</div>
</section>
{% endblock %}