{% extends "base.html" %}

{% block content %}

<div class="sectionContainer fullContainer">
	<form method="POST" action="/login" class="content containAlignCenter loginContent">
		<h2>Login as an existing user</h2>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<p class="errorMessage">{{ messages[0] }}</p>
			{% endif %}
		{% endwith %}
		<label for="email">Email</label><br><input type="email" name="email" id="email" class="inputNormal" required><br>
		<label for="password">Password</label><br><input type="password" name="password" id="password" class="inputNormal" required><br>
		<input type="submit" value="Login" class="submit navSignup" id="submit">
	</form>
</div>
{% endblock %}