{% extends "dashboardBase.html" %}

{% block dashboard %}
<div class="dashContent notifications">

	<h2>Email Notifications</h2>
	<div class="profileContent">

		<div class="profileItem">
			<h3>Email Notifications</h3>
			<p>On</p>
		</div>

		<div class="profileItem">
			<h3>Notify Before</h3>
			<p>1 day</p>
		</div>
		
	</div>

	<h2>Set Preferences</h2>
	<form class="profileContent">

		<div class="profileItem notiItem">
			<label>Email Notifications</label><br>
			<input type="checkbox" checked>
		</div>

		<div class="profileItem notiItem">
			<label>Frequency</label><br>
			<select>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="5">5</option>
				<option value="7">7</option>
			</select>
			<span>Day</span>
		</div>
		
		<input type="submit" value="Save" class="submit notiSave" id="submit">
	</form>

</div>
{% endblock %}