{% extends "base.html" %}

{% block content %}
<div class="sectionContainer fullContainer">
	<form method="POST" action="" class="content containAlignCenter loginContent">
		<h2>Login as an existing user</h2>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
			{% for msg in messages %}
				{{ msg }}
			{% endfor %}
		{% endif %}
		{% endwith %}
		<label for="password">Password</label><br><input type="password" name="password" id="password" class="password" required><br>
		<label for="verify">Verify Password</label><br><input type="password" name="verify" id="verify" class="verify" required><br>

		<input type="submit" value="Change Password" class="submit navSignup" id="submit">
	</form>
</div>
	


{% endblock %}