{% extends "baseLogged.html" %}

{% block content %}
<div class="taskContainer sectionContainer">
	<div class="button">
		
	</div>
	<div class="todolist">
		<h1>Tasks</h1>
		<ul class="taskList">
			{% if tasks %}
				{% for task in tasks %}
				<li class="taskItem">
					<div class="taskItemTitle taskIteminner">
						<p>Task</p>
						<p>Deadline</p>
						<p class="complete">Complete</p>
					</div>
					<div class="taskItemRec taskIteminner">
						<p>{{task.item}}</p>
						<p>{{task.due}}</p>
						<p class="complete"><input type="checkbox" name="complete" onclick="window.location.href='{{url_for('main.complete', id = task.id)}}';" value="complete"></p>
					</div>
				</li>
				{% endfor %}
			{% endif %}
		</ul>

		<h2>Completed</h2>
		<ul class="taskList">
			{% if completed %}
				{% for task in completed %}
				<li class="taskItem">
					<div class="taskItemTitle taskIteminner">
						<p>Task</p>
						<p>Deadline</p>
						<p class="complete">Complete</p>
					</div>
					<div class="taskItemRec taskIteminner">
						<p>{{task.item}}</p>
						<p>{{task.due}}</p>
						<p class="complete"><input type="checkbox" name="complete" onclick="window.location.href='{{url_for('main.incomplete', id = task.id)}}';" value="incomplete" checked></p>
					</div>
				</li>
				{% endfor %}
			{% endif %}
		</ul>
	</div>
	<div class="addButton">
		<button></button>
	</div>
</div>
	
{% endblock %}